.patientDetailsDownload {
    color: gray;
    font-size: 25px;
    border: none;
    background-color: white;
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doctorNameInPatientDashboard {
    font-size: 26px;
    text-align: center;
    background-color: black;
    color: white;
    min-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 30px;
    border-radius: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .doctorNameInPatientDashboard {
        min-width: 400px;
        max-width: 600px;
    }
}

@media screen and (max-width: 690px) {
    .doctorNameInPatientDashboard {
        min-width: 300px;
        max-width: 300px;
        padding: 10px 10px;
        font-size: 20px;
    }
}