.patientDetailsContainer {
    border: 3px solid black;
    display: flex;
    margin: 0 auto;
    min-width: 800px;
    max-width: 800px;
    padding: 15px 30px;
    margin-bottom: 10px;
    font-size: 18px;
    align-items: center;
}

.prescriptionDetailsMainContainer {
    margin-top: 30px;
}

.patientDetailsChildContainer {
    width: 50%;
}

.selectDiv {
    width: 50%;
}

.select {
    width: 350px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    background-color: white;
    font-size: 15px;
}

@media screen and (max-width: 900px) {
    .patientDetailsContainer {
        min-width: 400px;
        max-width: 600px;
    }

    .select {
        width: 250px;
    }
}

@media screen and (max-width: 690px) {
    .patientDetailsContainer {
        min-width: 300px;
        max-width: 300px;
    }

    .patientDetailsContainer {
        min-width: 270px;
        max-width: 280px;
        padding: 10px;
        flex-direction: column;
        font-size: 16px;
    }

    .patientDetailsChildContainer {
        width: 100%;
    }
    
    .selectDiv {
        margin-top: 10px;
        width: 100%;
    }

    .select {
        width: 250px;
    }
}